<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>register</h2>
            <form th:action="@{/registration}" method="post" th:object="${userForm}">
                  <label>username</label>
                  <input type="text" th:field="*{username}">
                  <div th:if="*{#fields.hasErrors('username')}" >
                        <span th:errors="*{username}">username error messge</span>
                  </div>
                  <br>
                  <label>password</label>
                  <input type="password" th:field="*{password}">
                  <div th:if="*{#fields.hasErrors('password')}" >
                        <span th:errors="*{password}">password error messge</span>
                  </div>
                  <br>
                  <label>password (conf)</label>
                  <input type="password" th:field="*{passwordConf}">
                  <div th:if="*{#fields.hasErrors('passwordConf')}" >
                        <span th:errors="*{passwordConf}">passwordConf error messge</span>
                  </div>
                  <br>
                  <button type="submit">register</button>
                  <a th:href="@{/login}">login</a>
            </form>
	</div>
</body>
</html>